[builderList biographyList]
modelClass = "Kamenev\Admin\Models\Biography"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set biography = biographyList.records %}
<section class="biography section">
    <div class="container-gutter">
        <div class="biography__block">
            <div class="biography__item">
                <div class="biography__img">
                    <div class="biography__info">
                        <h2>Цитата - классная</h2>
                        <p>Ivan Kamenev</p>
                    </div>
                </div>
            </div>
            <div class="biography__item biography__item-bio">
                <div class="biography__bio">
                    <h2>{{ biography[0].title }}</h2>
                    <div class="biography__slider slide-arrows">
                        {% for item in biography %}
                            {{ item.desc|raw }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>